# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*.tfvars
*.tfvars.json
secret.auto.tfvars

# AWS CLI
.aws/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
